extends layout

block content
  #content-container
    #description-container
      h1.title Devices
      p Here you can see the status of simulated IoT devices.
    #device-container
      #lightbulb
        img(src="/images/lightbulb.png", alt="Lightbulb")
        #glow
      #lcd-display
        p#content ...
      #thermometer
        label#thermometer-label(for='thermometer')
        input#thermometer-slider.slider(name='thermometer' type='range' min='-50' max='50' value='20.0' step='0.1') 
      #motion-sensor
        label#motion-sensor-label Motion detection area
        #motion-sensor-area
